<div id="customize-view-inner">
  <div class="grid-x grid-padding-x">
    <div class="small-8 cell">
      <div class="button-group">
        <div class="button" v-on:click="dummyAlert">Excelダウンロード</div>
        <div class="button success" v-on:click="dummyAlert">全レコードを保存</div>
      </div>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th v-for="(prop, code) in fieldMap">{{ prop.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(record, i) in records">
        <td v-for="(prop, code) in fieldMap"><input type="text" v-model:text=record[code].value></td>
      </tr>
    </tbody>
  </table>
</div>
